.important{
    display: flex;
    justify-content: center;
    
}

.important-text{
    
    color:red
}
.footer-last{
    color:antiquewhite;
    background-color:blueviolet;
    display: flex;
    justify-content:space-around;

}
.sub-last{
    display: flex;
    justify-content: center;
    background-color:blueviolet;
}
.last{
    background-color:blueviolet;
    width:100vw;
    height:auto;

    display: flex;
    justify-content:space-around

}

.last-text{
    
    color:rgb(0, 255, 102)
}


.message{
    display: flex;
    justify-content: center;

}

.message-text{
 
    color: rgb(0, 165, 27);
}
.card-title{
    background-color: azure;
    color:blueviolet;
   border: 2px solid green;
   border-radius: 10px;
}
.activities{
    display:fles;
    justify-content: center;
}
.card-body{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.card-title:hover{
    color:red;
    background-color: aqua;
    font-weight: bold;
    text-decoration: none;
    list-style: none;

}




.privatemesage{
    display: flex;
   width:100%;
   height:100%;
 
   justify-content:space-between
}

.chairmantext{
    color: red;
    width:70%;

}
.chairmanimage{
    width:50%;
   
}
.chairmanimage img {
    width:100%;
   height:auto
}
.sarojtext{
    color:rgb(196, 214, 27);
}
.form{
  
    justify-content: flex-start
}
.formtext{
    background-color: antiquewhite;
}
.form-heading{
    color: blueviolet;

}
.footer{
    background-color:blueviolet;
    width:100vw;
    height:auto;
   
   
}
